.xf-sidebar {
    position: relative;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    height: 100vh;
    overflow: hidden;
    visibility: visible;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    header {
        /* color: $sidebarHeaderColor; */
        background-color: $sidebarHeaderBGColor;
        background-image: $sidebarHeaderImage;
        width: 100%;
        display: block;
        padding: 0.75em 1em;
        height: $sidebarheaderHeight;

        h5 {
            color: $sidebarHeaderColor;
            display: $sidebarHeaderDisplay;
            vertical-align: middle;
        }
    }
}


.xf-sidebar-nav {
    position: fixed;
    background-color: $SidebarBGColor;
    /*  color: $sidebarColor; */
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 6em;
    overflow: hidden;
    width: 100%;

    .subHeader {
        display: $sidebarDisplaySubHeader;
        width: 100%;
        height: 70px;
        padding: 0 10px;
        border-top: 1px solid $blueMedium;
        border-bottom: 1px solid $blueMain;
        font-size: 1rem;
        color: $blueCyan;

        div:first-child {
            display: inline-block;
            color: $blueCyan;
            font-size: 1rem;
        }

        .subHeader-top {
            display: inline-block;
            margin-left: 18px;
            font-size: 1rem;

            div:last-child {
                color: $blueCyanLight;
                font-size: .80rem;
            }
        }
    }

    ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;

        li {
            margin-left: 0;
            padding-left: 0;
            display: inline-block;
            width: 100%;

            a {
                color: $sidebarTextColor;
                font-size: 0.75em;
                padding: $sidebarItemTopBtmPadding $sidebarItemLeftRightPadding;
                position: relative;
                display: block;
                width: 100%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                    text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.7);
                    -webkit-transition: all 0.6s ease;
                    -moz-transition: all 0.6s ease;
                    transition: all 0.6s ease;
                }

                &:not([href]):not([tabindex]) {
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 0.75em;
                    padding: $sidebarItemTopBtmPadding $sidebarItemLeftRightPadding;
                    position: relative;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.xf-sidebar-nav > ul > li > a:after {
    content: '\f105';
    font-family: fontawesome;
    font-size: $sidebarIconUpDownFontSize;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 36%;
}

.xf-sidebar-nav .nav-flyout {
    position: absolute;
    background-color: $SidebarFlyoutBGColor;
    z-index: 9;
    left: 2.0em;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
    transform: translateX(150%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.nav-flyout::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px $blueMain;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: $scrollbarBGColor;
}

.nav-flyout::-webkit-scrollbar {
    width: 8px;
    background-color: $scrollbarBGColor;
}

.nav-flyout::-webkit-scrollbar-thumb {
    background-color: $scrollbarThumbColor;
}

.xf-sidebar-nav ul.nav-flyout li a {
    color: rgba(255, 255, 255, 0.9);
    font-size: $sidebarFlyoutIconFontSize;
    padding: $sidebarFlyoutItemPaddingTopBtm $sidebarFlyoutItemPaddingLeftRight;
    position: relative;
    display: block;
}

.xf-sidebar-nav ul.nav-flyout li a:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.9);
    font-size: $sidebarFlyoutIconFontSize;
    padding: $sidebarFlyoutItemPaddingTopBtm $sidebarFlyoutItemPaddingLeftRight;
    position: relative;
    display: block;
}

ul.nav-flyout li a span {
    color: rgba(255, 255, 255, 0.9);
    font-size: $sidebarFlyoutItemFontSize;
    padding: $sidebarFlyoutItemPaddingTopBtm $sidebarFlyoutItemPaddingLeftRight;
    position: relative;
    display: inline-block;
}

.xf-sidebar-nav ul.nav-flyout ul.submenu {
    display: none;
}

.xf-sidebar-nav ul.nav-flyout ul.submenu.open {
    display: block;
}


ul.nav-flyout li a.profile:after {
    content: '\f0da';
    font-family: fontawesome;
    font-size: $sidebarIconUpDownFontSize;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 36%;
}

ul.nav-flyout li a.profile.special:after {
    content: '\f0d7';
    font-family: fontawesome;
    font-size: $sidebarIconUpDownFontSize;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 36%;
}

ul > li:hover .nav-flyout {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s 0.1s ease-in-out;
    -moz-transition: all 0.5s 0.1s ease-in-out;
    transition: all 0.5s 0.1s ease-in-out;
}

ul > li:hover .nav-flyout li {
    opacity: 1;
    -webkit-transform: translateX(0em);
    -moz-transform: translateX(0em);
    -ms-transform: translateX(0em);
    -o-transform: translateX(0em);
    transform: translateX(0em);
    -webkit-transition: all 0.5s 0.5s ease-in-out;
    -moz-transition: all 0.5s 0.5s ease-in-out;
    transition: all 0.5s 0.5s ease-in-out;
}

ul.nav-flyout li a.flyout-indent {
    padding-left: $sidebarFlyoutItemIndent;
}

ul.nav-flyout li a.flyout-indent span {
    color: $sidebarFlyoutTextColor;
}

@media (max-width: 768px) {
    .xf-sidebar {
        min-width: $sidebarCollapsedWidth;
        max-width: $sidebarCollapsedWidth;
    }

    .xf-sidebar header h5 {
        visibility: hidden;
    }

    .xf-sidebar-nav ul li a span {
        display: none;
    }

    .xf-sidebar-nav > ul > li > a:after {
        content: '';
        font-family: fontawesome;
    }
}
