@namespace OneStreamWebBlazor.Components.Components
@inherits XFComponentBase

<CascadingValue Value=this>
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>
