
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'), 
        url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), 
        url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antonioregular';
    src: url('../fonts/antonio/antonio-regular-webfont.woff2') format('woff2'), url('../fonts/antonio/antonio-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-v16-latin-regular-webfont.woff2') format('woff2'), url('../fonts/Oswald/oswald-v16-latin-regular-webfont.woff') format('woff'), url('../fonts/Oswald/oswald-v16-latin-regular.svg') format('svg'), url('../fonts/Oswald/oswald-v16-latin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzel';
    src: url('../fonts/cinzel/cinzel-regular-webfont.woff2') format('woff2'), url('../fonts/cinzel/cinzel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/xf-regular-webfont.woff2') format('woff2'), url('../fonts/lato/xf-regular-webfont.woff') format('woff'), url('../fonts/lato/xf-regular.ttf') format('truetype');
    ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src:
    /* local("Segoe UI"), */
    url('../fonts/segoe/segoeui.woff2') format("woff2"), url('../fonts/segoe/segoeui.woff') format("woff"), url('../fonts/segoe/segoeui.ttf') format("truetype");
    font-weight: 400;
}