
.xf-combo {
    width: 100%;
    text-align: center;
    font-family: 'SegoeUI',Arial,Sans-Serif;
    font-size: 0.90rem;
}

.xf-combo-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;

    input[type="text"] {
        flex: 2 1 auto;
        height: 100%;
        font-size: 0.90rem;
    }

    span {
        position: absolute;
        top: 4px;
        right: 40px;
    }

    a.xf-button {
        width: 30px;
        @include gradient-vertical($buttonGradientTop, $buttonGradientBottom, $buttonGradientBottom);
        border: 1px solid $outlineColor;
        border-left: none;
        border-radius: 0 4px 4px 0;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        padding: 0 10px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    }

    a.xf-button::before {
        font-family: fontawesome;
        content: '\f0d7';
        color: #FFF;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    }
}

.xf-scrollbox {
    position: relative;
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #FFF;
    border-style: solid;
    border-color: #FFF;
    border-width: $listBoxBorderTopWidth 1px $listBoxBorderBottomWidth 1px;
    @include transition-easeInOut(0.5s);

    &.show {
        height: 350px;
        /*height: ($listItemHeight * $listBoxNoItemsDisplay) + $listBoxBorderTopWidth + $listBoxBorderBottomWidth;*/
        /*border: 1px solid #CCC;*/
        overflow: auto;
        @include transition-easeInOut(0.15s);
    }

    &::-webkit-scrollbar-track {
        background-color: #FFF;
        border-left: 1px solid #ccc;
    }

    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: $listItemThumbColor;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: content-box;
        padding: 0 2px;
        border-radius: 8px;
    }

    ul.xf-listbox {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid #CCC;
        border-width: $listBoxBorderTopWidth 1px $listBoxBorderBottomWidth 1px;
        list-style: none;
        text-decoration: none;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        z-index: 100;

        li.xf-listitem {
            margin-left: 0;
            padding: 0 10px;
            display: inline-block;
            width: 100%;
            font-family: 'SegoeUI';
            font-size: 0.90rem;
            height: 27px;
            /*border: 2px solid rgba(0, 0, 0, 0);*/
            white-space: normal;
            cursor: pointer;

            &.selected {
                @include gradient-vertical($buttonGradientTop, $buttonGradientBottom, $buttonGradientBottom);
                color: white;
                border: 2px solid #1a78bd;
            }
        }

        li.xf-listitem:hover {
            border: 2px solid $orangeMain;
        }
    }
}
