@inherits XFComponentBase

<nav class="@ClassNames">
    <div class="subHeader bgHeaderGradient">
        <div><img src="images/UserClarkKent.png" /></div>
        <div class="subHeader-top">
            <div style="padding-top: 10px;">Clark Kent</div>
            <div>clark.kent@dailyplanet.com</div>
        </div>
    </div>
    <ul>
        @ChildContent
    </ul>
</nav>