

<table class="xftable" style="overflow-x: auto;">
    <thead>
        <tr>
            <th>CubeId</th>
            <th>Name</th>
            <th style="max-width: 170px;" class="text-truncate">Description</th>
            <th>CubeType</th>
            <th>IsTopLevelCube</th>
            <th style="max-width: 125px;" class="text-truncate">TimeDimProfileID</th>
            <th style="max-width: 125px;" class="text-truncate">AccessGroupUniqueID</th>
            <th style="max-width: 125px;" class="text-truncate">MaintenanceGroupUniqueID</th>
            <th style="max-width: 50px;" class="text-truncate">ConsAlgorithmType</th>
            <th style="max-width: 50px;" class="text-truncate">TransAlgorithmType</th>
            <th style="max-width: 50px;" class="text-truncate">CalcNoneConsIfNoData</th>
            <th style="max-width: 50px;" class="text-truncate">CalcLocalCurrIfNoData</th>
            <th style="max-width: 50px;" class="text-truncate">CalcTransCurrsIfNoData</th>
            <th style="max-width: 50px;" class="text-truncate">CalcOwnerPreAdjIfNoData</th>
            <th style="max-width: 50px;" class="text-truncate">CalcShareIfNoData</th>
            <th style="max-width: 50px;" class="text-truncate">CalcElimIfNoData</th>
            <th style="max-width: 50px;" class="text-truncate">CalcOwnerPostAdjIfNoData</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Houston</td>
            <td class="text-truncate">Houston Clubs</td>
            <td>0</td>
            <td>FALSE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Ottawa</td>
            <td class="text-truncate">Ottawa Golf Balls</td>
            <td>0</td>
            <td>FALSE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>2</td>
            <td>NewYork</td>
            <td class="text-truncate">New York Services & Course Design</td>
            <td>0</td>
            <td>FALSE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Atlanta</td>
            <td class="text-truncate">Atlanta Apparel</td>
            <td>0</td>
            <td>FALSE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Austin</td>
            <td class="text-truncate">Austin Apparel</td>
            <td>0</td>
            <td>FALSE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>5</td>
            <td>GolfStream</td>
            <td class="text-truncate">Corporate</td>
            <td>0</td>
            <td>TRUE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Drivers</td>
            <td class="text-truncate">Cost and Revenue Factors to Drive Values in Budget, Plan and Forecast</td>
            <td>11</td>
            <td>TRUE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Profitability</td>
            <td class="text-truncate"></td>
            <td>0</td>
            <td>TRUE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>8</td>
            <td>ProfitabilityDrivers</td>
            <td class="text-truncate"></td>
            <td>0</td>
            <td>TRUE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>9</td>
            <td>World</td>
            <td class="text-truncate"></td>
            <td>0</td>
            <td>TRUE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>10000</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
        </tr>
        <tr>
            <td>10</td>
            <td>XFR_DataSources</td>
            <td class="text-truncate">XFR_DataSources</td>
            <td>0</td>
            <td>TRUE</td>
            <td class="text-truncate">664c9bd4-a314-4941-81be-513aeddac13a</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td class="text-truncate">e31054d8-83bf-4f79-b563-0e450342de9e</td>
            <td>0</td>
            <td>0</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>TRUE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>
            <td>FALSE</td>

        </tr>
    </tbody>
</table>